.navbar{
    background-color: rgb(52, 49, 70);
    color: white;
}

body{
    background-image: url(https://th.bing.com/th/id/OIP.Et7Ys3bHCZKpZlJBbntkIQHaHa?pid=ImgDet&w=193&h=193&c=7);
 }
.card {
    background-color:rgb(214, 142, 216);
    border-radius: 20px;
    box-shadow: black;
    border: black;
}

.modal-header {
    background-color: rgb(255, 255, 255);
}
footer{
    background-color: rgb(52, 49, 70);
    color: rgb(255, 255, 255);
    text-align: center;
}
