.contactanos {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 30px;
 }

body{
    background-color: rgb(187, 216, 245);
}

button{
    width: 100px;
    height: 30px;
    margin: 10px;
    background-color: rgb(157, 119, 177);
}